<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.team.squadx">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/splash_logo"
        android:label="Team SquadX"
        android:roundIcon="@mipmap/splash_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.TeamSquadX"
        tools:targetApi="31">

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity"/>
        <activity android:name=".AttendanceActivity" />
        <activity android:name=".NotificationActivity"
            android:exported="false"/>
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />



        <activity android:name=".SetupProfileActivity" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".StudentInformationActivity" />
        <activity android:name=".TeacherQrActivity" />

        <activity
            android:name=".OnboardingActivity"
            android:exported="false"
            android:theme="@style/Theme.TeamSquadX"/>

        <activity android:name=".FacultyProfileActivity" />
        <activity android:name=".FacultyDirectoryActivity" />

        <activity android:name=".ChatActivity" />




    </application>
</manifest>